/* Stuff from @kuanb */
#leaflet_map {
  min-height: 300px;
  /*overflow-y: scroll;*/
  z-index: 0;
}

.points-menu > li {
  cursor: pointer;
}

.indicator-menu > li {
  cursor: pointer;
}

.sharp-edges {
  border-radius: 0px;
}

.footer {
  padding: 6px 0 5px 0;
  background-color: #072F53;
  color: white;
  line-height: 15px;
}

.footer img {
  height: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
}


/* Added by @mdgis */
.leafletMapBLBox {
  padding: 6px 8px;
  font: 13px/15px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.9);
  border-radius: 0;
}
.leafletMapBLBox h4 {
  margin: 0 0 5px;
  color: #777;
}

.leafletMapBLBox .legend {
  line-height: 18px;
  color: #555;

}




.pointLegend  {
  margin-bottom: 2px !important;
}

.indicatorLegend {
    margin-bottom: 2px !important;

}

.leafletMapBLBox .leftColorMapBox {
  width: 30px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leafletMapBLBox .leftNumVal {
  padding-right: 10px;
}


.rankpointLegend  {
  margin-bottom: 2px !important;
}

.rankpointLegend-i {
  border-radius: 20px;
  height: 20px !important; 
  width: 20px !important; 
  float: left; 
  margin-top: 4px;
  border: 1px solid gray;
}

.extradata {
  cursor: pointer;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
         transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.down{

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.legendTitle {
  font-weight: bold;
  font-size: 13px;
  display: block;
  margin-bottom: 2px; 

}

.countyTitle{
  font-weight: bold;
  font-size: 25px;
  display: block;
  margin-bottom: 5px;
}

.methodology_text {
  margin-left: 140px;
  margin-right: 50px;
  padding-bottom: 60px;
  padding-left: 40px;
  border-left: .5px solid lightgray;
} 

 .ccephome {
  margin-top: 10px;
 }

#selected-county-navbar{
  margin-bottom: 0px;
}

#methodfoot {
  position:absolute;
   bottom:0;
   width:100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
 }

.legendLinkSpan  {
  text-decoration: underline ;
}

.kbdkeys {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 3px 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.accessItem {
  font-size: 18px;
  margin-bottom: 5px;
}


.beta-version {
  font-size: inherit;
  background-color: #f0ad4c;
}


.dk-how-to{
  margin-bottom: 20px;
}
.dk-bottom-right {
    position: absolute;
    bottom: -1px;
    right: 12px;
    background-color: white;
    padding: 5px 5px;
    border-top-left-radius:5px;
    font-size: 16px;
    font-weight: bold;
}

body {
  overflow-x: hidden;
  font-size: 13px;
}

.slideOverOnMenu {
  margin-right: 310px !important;
}



.points-menu .selected a:after {
  display: block;
  position: absolute;
  content: "";
  width: 14px; height: 14px;
  background: #655876;
  border: 1px solid #fff;
  top: 8px;
  right: 11px;
  border-radius: 16px;
}

.menu-toggle {
  cursor: pointer;
  left: 0px;
  top: 55px;
  padding: 7px 15px;
  z-index: 250;
}
.menu-toggle strong {
  display: block;
}
.menu-toggle .open,
.toggled .menu-toggle .closed {
  display: none;
}
.toggled .menu-toggle .open {
  display: block;
}

#main-container {
  top: 0px;
  left: 0px;
  background-color: #FFF;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px #CCC;
  -moz-box-shadow: 0px 0px 15px #CCC;
  box-shadow: 0px 0px 15px #CCC;
}
#content-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}


.dk-header-btn{
  margin-right: 2px;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

.dk-data-details {
  margin-bottom: 3px;
  margin-top: 20px;
}


ul.makedashed {
  list-style-type: none;
}
ul.makedashed > li {
  text-indent: -5px;
}
ul.makedashed > li:before {
  content: "-";
  text-indent: -5px;
}
/* Stuff from before - that might still be used*/

body, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}


.nav > li.disabled.nav-header > a {
  cursor: default;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px !important;
  color: #000;
}

.align-right { text-align: right; }
.align-left { text-align: left; }

.posrel { position: relative; }
.posabs { position: absolute; }
.posfixed { position: fixed; }

#dk-fixed-nav{
  width: 300px;
}

#nav-panel {
  background-color: #f8f8f8;
  width: 300px;
  top: 60px;
  bottom: 0px;
  left: 0px;
}
#nav-panel h4, h5 {
  padding-left: 10px;
  padding-right: 15px;
}

#nav-panel  h5 {
  font-size: 16px;
}
.nav-pills > li > a {
  border-radius: 0px;
  color: #444;
  background-color: #F0F4F8;
}
.nav-pills > li > a:hover {
  background-color: #D8DCE2
}
.nav-pills > li.selected > a {
  background-color: #C6CEDA;
  color: #000;
}


/* UI */

#how-to .col-lg-4 {
  overflow: hidden;
}

#how-to h3 {
  background: #FFF;
  padding: 10px 10px 10px 0px;
  position: absolute;
  bottom: -11px;
  left: 0;
}

#nav-panel {
  overflow: scroll;
}

#nav-panel .nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#nav-panel .nav > li.selected > a {
    padding-right: 25px;

}

#nav-panel .label {
  position: relative;
  top: -3px;
}
/*
#zoom-toggle {
  position: absolute;
  bottom: 7px;
  left: 0;
  height: 42px;
  padding: 10px 14px;
  display: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.75);
}
  */
/*  .btn.pull-right.visible-xs {
    margin-bottom: 20px;
  }*/


/*  #zoom-toggle {
    display: block;
  }*/

}
